---
apiVersion: v1
kind: Service
metadata:
  name: ip-visit-frontend
spec:
  type: ClusterIP
  ports:
  - name: http
    port: 3000
    protocol: TCP
    targetPort: 3000
  selector:
    app: ip-visit-frontend
