apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ../../base
images:
- name: visualization-backend
  newName: us-central1-docker.pkg.dev/mirrord-test/playground-repo/visualization-backend
  newTag: 4a1b18cef621c075e07d29000f84172d914f3e4b
