apiVersion: v1
kind: Service
metadata:
  name: kafka
  labels:
    app: kafka
spec:
  type: ClusterIP
  clusterIP: None
  ports:
    - port: 9092
      name: plaintext
      protocol: TCP
      targetPort: 9092
  selector:
    app: kafka
