apiVersion: apps/v1
kind: Deployment
metadata:
  name: inventory-service
spec:
  selector:
    matchLabels:
      app: inventory-service
  template:
    metadata:
      labels:
        app: inventory-service
    spec:
      containers:
        - name: main
          image: ghcr.io/metalbear-co/playground-inventory-service:latest
          imagePullPolicy: Always
          env:
            - name: PORT
              value: "80"
            - name: DATABASE_URL
              value: "postgresql://postgres:postgres@postgres.infra.svc.cluster.local:5432/inventory"
          ports:
            - containerPort: 80
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /health
              port: 80
              scheme: HTTP
          readinessProbe:
            httpGet:
              path: /health
              port: 80
              scheme: HTTP
          resources:
            limits:
              cpu: 200m
              memory: 200Mi
            requests:
              cpu: 100m
              memory: 100Mi
