apiVersion: apps/v1
kind: Deployment
metadata:
  name: delivery-service
spec:
  selector:
    matchLabels:
      app: delivery-service
  template:
    metadata:
      labels:
        app: delivery-service
    spec:
      containers:
        - name: main
          image: ghcr.io/metalbear-co/playground-delivery-service:latest
          imagePullPolicy: Always
          env:
            - name: PORT
              value: "80"
            - name: KAFKA_ADDRESS
              value: "kafka:9092"
            - name: KAFKA_TOPIC
              value: "orders"
            - name: KAFKA_CONSUMER_GROUP
              value: "delivery-service"
            - name: DATABASE_URL
              value: "postgresql://postgres:postgres@postgres:5432/deliveries"
          ports:
            - containerPort: 80
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /health
              port: 80
              scheme: HTTP
          readinessProbe:
            httpGet:
              path: /health
              port: 80
              scheme: HTTP
          resources:
            limits:
              cpu: 200m
              memory: 200Mi
            requests:
              cpu: 100m
              memory: 100Mi
