apiVersion: v1
kind: Service
metadata:
  name: metal-mart-frontend
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 80
      protocol: TCP
      targetPort: 3000
  selector:
    app: metal-mart-frontend
