apiVersion: v1
kind: ConfigMap
metadata:
  name: postgres-init
data:
  init-databases.sh: |
    #!/bin/bash
    set -e
    psql -v ON_ERROR_STOP=1 --username "$POSTGRES_USER" <<-EOSQL
        CREATE DATABASE inventory;
        CREATE DATABASE orders;
        CREATE DATABASE deliveries;
    EOSQL
