apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ip-info
  - ip-info-grpc
  - ip-visit-consumer
  - ip-visit-counter
  - visualization-backend
  - visualization-frontend
  - redis
  - kafka
