apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ip-info
  - ip-info-grpc
  - ip-visit-consumer
  - ip-visit-counter
  - ip-visit-frontend
  - ip-visit-sqs-consumer
  - kafka
  - redis
