---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ip-visit
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: ip-visit-counter
    server: https://kubernetes.default.svc
  project: default
  source:
    path: manifests/ip-visit
    repoURL: https://github.com/metalbear-co/playground
    targetRevision: HEAD
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: false