apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - argocd
  - argo-rollouts
  - application.yaml
  - ingress.yaml
  - namespace.yaml
  - certificate.yaml
  - apps/cluster-secret-store.yaml
  - apps/external-secret-aws.yaml