apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - argocd
  - argo-rollouts
  - shared-infra-application.yaml
  - ip-visit-application.yaml
  - ip-visit
  - shop-application.yaml
  - shop-mirrord-application.yaml
  - shop
  - visualization-application.yaml
  - visualization
  - gateway.yaml
  - namespace.yaml
  - certificate.yaml
